<div class="container mt-5" style="background-color: rgb(180, 255, 230);">
  <div class="row">
    <div class="col-md-12">
      <h4 style="color: slateblue;">ADMİN ANASAYFASINA HOŞGELDİNİZ</h4><br>
      <div class="nav nav-pills nav-fill" style="background-color: rgb(0, 150, 105); ">
        <li class="nav-item"><a style="color: white;" href="/adminanasayfa" class="nav-link active">Anasayfa</a></li>
        <li class="nav-item"><a style="color: white;" href="/dersialanögrenciler" class="nav-link">Dersi Alanlar</a></li>
        <li class="nav-item"><a style="color: white;" href="/soruhazirla" class="nav-link">Sınav Hazırla</a></li>
        <li class="nav-item"><a style="color: white;" href="/" class="nav-link">Çıkış</a></li>
      </div>
    </div>
    
    <div class="col-md-4"> <br> 
      <h5 class="bg-danger	">Profil Detayları</h5> 
      <div class="col-md-4">
        <div class="container text-center mt-5">
          <img src="http://medicine.buffalo.edu/content/dam/medicine/people/ecv/j/jinwoopa.jpg" width="350px" height="300px" 
        alt="">
        </div>
      </div>
      <br><br>
      <div >
        <p class="text-black "><b>Adı Soyadı : Tunahan Koç </b></p>
        <p class="text-black "><b>Yaş : 42</b></p>
        <p class="text-black "><b>Ders : Genel Kültür</b></p>
        <p class="text-black "><b>E-Posta : tunahan11@gmail.com </b></p>
      </div>
    </div>
  </div>
</div>
