<div class="container mt-3" style="background-color: rgb(157, 235, 255);">
  <div class="row">
    <div class="col-md-12">
      <h4 style="color: red;">Kullanıcı Arayüzü</h4><br>
      <div class="nav nav-pills nav-fill" style="background-color: rgb(0, 0, 0);">
        <li class="nav-item"><a href="/kullanıcıanasayfa" class="nav-link active">Anasayfa</a></li>
        <li class="nav-item"><a href="/bildirim" class="nav-link">Bildirimler</a></li>
        <li class="nav-item"><a href="/hoşgeldin" class="nav-link">Sınava Giriş</a></li>
        <li class="nav-item"><a href="/" class="nav-link">Çıkış</a></li>
      </div>
    </div>
    
    <div class="col-md-4" > <br> 
      <h5 style="color: rgb(10, 0, 156)"  >Profil Detayları</h5> 
      <div class="col-md-4">
        <div class="container text-center mt-5">
          <img  src="https://www.pngkey.com/png/detail/114-1149878_setting-user-avatar-in-specific-size-without-breaking.png" width="350px" height="350px" 
        alt="">
        </div>
      </div><br>
      <div >
        <p style="color: black;"><b>Adı Soyadı : Batuhan Salkım </b></p>
        <p style="color: red;"><b>Yaş : 20 </b></p>
        <p style="color: black;"><b>Bölüm : Bilgisayar Programcılığı </b></p>
        <p style="color: red;"><b>E-Posta : batuhan11bjk@gmail.com</b></p>
      </div>
    </div>
  </div>
</div>
